* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  text-decoration: none;
}
body {
  background-color: #8f9ba7;
  button {
    cursor: pointer;
  }
}
a:hover {
  transform: scale(1.2);
  transition: 0.3s;
}
a:active {
  transform: scale(1);
  transition: 0.01s;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 40px;
  @media (max-width: 610px) {
    padding-inline: 20px;
  }
}
